langchain
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
sentence_transformers
langchain_huggingface
faiss-cpu
streamlit
langchain_core
langchain_groq
validators
youtube_transcript_api
unstructured
pytube
yt_dlp
pytesseract
opencv-python
torch